---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
    {
        date: "Actualmente...",
        title: "Desarrollando proyectos propios",
        description:
            "Actualmente desarrollo proyectos personales que me permiten explorar nuevas tecnologías, con el objetivo de ampliar mis habilidades para mi próximo puesto laboral.",
    },
    {
        date: "Enero 2021 - Junio 2022",
        title: "Desarrollador Backend",
        company: "CursosLite",
        description:
            "Desarrollé APIs en PHP y Laravel, automatizando rutas de estudio personalizadas mediante integración con api de  Udemy y asegurando un sistema robusto a través de pruebas exhaustivas",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map((experiencie) => (
            <li>
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
